/* CSS Designed by Gustavo Fulton Fernandes for MI 349*/

body {
  margin: auto;
  overflow: hidden;
  font-family: 'Indie Flower', Helvetica,Arial,sans-serif;
  background: #ccc;
}

header {
	width: 100%;
	height: 10%;
	color: white;
	position: absolute;
}

.container {
	position: absolute;
	margin-top: 8%;
	margin-left: 20%;
	width: 60%;
	padding: 10px;
}

h1 {
	color: white;
	text-align: center;
	opacity: .8;
	font: 400 50pt 'Bungee Shade', Helvetica,Arial,sans-serif;
	font-weight: bold;
	letter-spacing: .3em;
	/*font-family: 'Indie Flower', cursive;*/
	height: auto;
	/*text-transform: uppercase;*/
}

h2 {
	text-align: center;
	color: white;
}

#social-media {
	color: white;
	position: absolute;
	margin-left: 70%;
	padding-top: 2%;
	font-size: 1em;
	float: right;
	opacity: .8;
	z-index: 0;
}

#profile {
	margin-top: 1.5%;
	margin-left: 2%;
	height: 80%;
	float: left;
}

